<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/layouts/head') %>

    <%- include('partials/layouts/styles') %>

    
</head>

<body>
    <%- include('partials/layouts/header') %>

    <%- include('partials/layouts/user.ejs') %> 

    <div class="container-item reception-page finance-page finance-detail">
        <div class="categories-1">
            <div class="content">
                <div class="header">
                    <p class="title">
                        Bộ phận kế toán
                        <img src="/images/logo-1.gif" alt="">
                    </p>
                </div>
            </div>
        </div>
        <div class="categories-2">
            <div class="header">
                <p class="title">Danh mục quản lý</p>
            </div>
            <div class="body">
                <div class="item">
                    <form action="/finance/employee/<%= data[0]['IDNHANVIEN'] %>" method="POST">
                        <p class="content"><span>Họ và tên: </span><span><%= data[0]['TENNHANVIEN'] %></span></p>
                        <p class="content"><span>Mã nhân viên: </span><span><%= data[0]['IDNHANVIEN'] %></span></p>
                        <p class="content"><span>Tháng: </span><span><%= month %></span></p>
                        <p class="content"><span>Năm: </span><span><%= year %></span></p>
                        <div class="box-form">
                            <div class="form-item">
                                <p class="form-item-title">Tiền lương: </p>
                                <input type="text" placeholder="123456" value="<%= money[0]['LUONG'] %>" id="saEmployee" name="saEmployee">
                                <label for="saEmployee"></label>
                            </div>
                        </div>
                        <div class="box-btn">
                            <!-- <button class="btn-search" type="submit">Thay đổi</button> -->
                            <a class="btn-reset" href="/finance?monSet=<%= month %>&yearSet=<%= year %>">Quay lại</a>
                        </div>
                    </form>
                </div>
                <div class="item">
                    <div class="box-function">
                        <div class="function-item">
                            <p class="content-item"><%= fullData.length %>  Ngày làm việc</p>
                        </div>
                        <div class="function-item">
                            <button class="btn-add"><i class="fa fa-plus" aria-hidden="true"></i> <span>Thêm ngày công</span></button>
                            <button class="btn-fix"><i class="fas fa-hammer    "></i> <span>Sửa ngày công</span></button>
                            <button class="btn-view"><i class="fa fa-th-list" aria-hidden="true"></i></button>
                            <button class="btn-view"><i class="fa fa-th-large" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box-infor">
                        <div class="infor-table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Mã nhân viên</th>
                                        <th>Tên nhân viên</th>
                                        <th>Mã chấm công</th>
                                        <th>Ngày làm</th>
                                        <th>Xóa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% fullData.forEach(item => { %>
                                        <tr>
                                            <th><span><%= item['IDNHANVIEN'] %></span></th>
                                            <th><span><%= item['TENNHANVIEN'] %></span></th>
                                            <th><%= item['IDCHAMCONG'] %></th>
                                            <th><%= item['NGAYBATDAU'] %></th>
                                            <th><a href="/finance/employee/<%= data[0]['IDNHANVIEN'] %>/delete/<%= item['IDCHAMCONG'] %>" class="btn-link">Xóa</a></th>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="categories-3">
            <div class="header">
                <p class="title">Thêm ngày làm việc</p>
            </div>
            <div class="body">
                <form action="/finance/employee/<%= data[0]['IDNHANVIEN'] %>/add" method="POST">
                    <div class="box-form">
                        <div class="form-item">
                            <p class="title">Ngày bắt đầu: </p>
                            <input type="date" id="addStart" name="addStart" required>
                            <label for="addStart"></label>
                        </div>
                        <div class="form-item">
                            <p class="title">Ngày kết thúc: </p>
                            <input type="date" id="addEnd" name="addEnd" required>
                            <label for="addEnd"></label>
                        </div>
                    </div>
                    <div class="box-btn">
                        <button type="submit" class="btn-add"><i class="fa fa-plus" aria-hidden="true"></i> Thêm</button>
                        <button class="btn-reset">Nhập lại</button>
                    </div>
                </form>
                <button class="btn-back">Quay lại</button>
            </div>
        </div>

        <div class="categories-4">
            <div class="header">
                <p class="title">Sửa ngày làm việc</p>
            </div>
            <div class="body">
                <form action="/finance/employee/<%= data[0]['IDNHANVIEN'] %>/fix" method="POST">
                    <div class="box-form">
                        <div class="form-item">
                            <p class="title">Mã ngày làm: </p>
                            <input type="text" id="fixId" name="fixId" required>
                            <label for="fixId"></label>
                        </div>
                        <div class="form-item">
                            <p class="title">Ngày bắt đầu: </p>
                            <input type="date" id="fixStart" name="fixStart" required>
                            <label for="fixStart"></label>
                        </div>
                        <div class="form-item">
                            <p class="title">Ngày kết thúc: </p>
                            <input type="date" id="fixEnd" name="fixEnd" required>
                            <label for="fixEnd"></label>
                        </div>
                    </div>
                    <div class="box-btn">
                        <button type="submit" class="btn-add"><i class="fas fa-hammer    "></i> Sửa</button>
                        <button class="btn-reset">Nhập lại</button>
                    </div>
                </form>
                <button class="btn-back">Quay lại</button>
            </div>
        </div>
    </div>

    <%- include('partials/layouts/footer')  %> 

    <%- include('partials/layouts/scripts') %>
</body>

</html>