<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/layouts/head') %>

    <%- include('partials/layouts/styles') %>

    
</head>

<body>
    <%- include('partials/layouts/header') %>

    <%- include('partials/layouts/user.ejs') %> 

    <div class="container-item">
        <div class="categories-1">
            <div class="content">
                <div class="header">
                    <p class="title">
                        Cửa hàng thuốc
                        <img src="/images/medicine.png" alt="">
                    </p>
                </div>
            </div>
        </div>
        <div class="categories-2">
            <div class="sidebar">
                <div class="item">
                    <div class="header">
                        <p class="title">Danh mục</p>
                    </div>
                    <div class="menu-item">
                        <a href="/phamarcy/bill-drug/page-1" class="link-item"><p>Tất cả đơn thuốc</p></a>
                    </div>       
                </div>
                <div class="item">
                    <div class="header">
                        <p class="title">Tìm kiếm mã đơn thuốc</p>
                    </div>
                    <div class="box-search">
                        <form action="/phamarcy/bill-drug/page-<%= page %>" method="GET">
                            <label for="search"></label>
                            <input type="search" name="search" id="searchPhamarcy" autocomplete="off">
                            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            <div id="autocomplete"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="body-item">
                <div class="item">
                    <div class="header-body">
                        <a href="" class="link-filter"><p><i class="fa fa-filter" aria-hidden="true"></i> Lọc</p></a>
                        <a href="/phamarcy/bill-drug/page-<% if (page == 1) { %><%= 1 %><% } else { %><%= page*1 - 1 %><% } if (isSearch) { %><%= '?search=' + search %><% } else { %><%= '' %><% } %>" title="trang trước" class="link-prev-page"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                        <a href="/phamarcy/bill-drug/page-<% if (page == numPage) { %><%= numPage %><% } else { %><%= page*1 + 1 %><% } if (isSearch) { %><%= '?search=' + search %><% } else { %><%= '' %><% } %>" title="trang sau" class="link-next-page"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                    <div class="menu-item">
                        <% data.forEach(item => { %>
                            <div class="box-item">
                                <a href="/phamarcy/bill-drug/page-<%= page %>/<%= item['IDDONTHUOC'] %>" title="<%= item['IDDONTHUOC'] %>" class="box-item-link bg-item">
                                    <p class="infor-1">Mã đơn thuốc: <%= item['IDDONTHUOC'] %></p>
                                    <p class="infor-1">Ngày tạo: <%= item['NGAY'] %></p>
                                    <p class="infor-1">Mã bệnh nhân: <%= item['IDBENHNHAN'] %></p>
                                    <p class="infor-1">Họ tên: <%= item['TENBENHNHAN'] %> </p>
                                </a>
                            </div>
                        <% }) %>                                                                                                                                                                                                                                                                                                                                                                                                        
                    </div>              
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/layouts/footer')  %> 

    <%- include('partials/layouts/scripts') %>
</body>

</html>