<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/layouts/head') %>

    <%- include('partials/layouts/styles') %>
</head>

<body>
    <%- include('partials/layouts/header') %>

    <%- include('partials/layouts/user.ejs') %> 

    <div class="box-item-detail phamarcy-page">
        <div class="header">
            <p class="title">Chi tiết đơn thuốc</p>
        </div>
        <div class="box-form-item">
            <div class="form-box-detail">
                <form>
                    <div class="form-item">
                        <p class="title-item">Tên bệnh nhân</p>
                        <label for="idPat"></label>
                        <input class="name" type="text" name="idPat" id="idPat" value="<%= data[0]['TENBENHNHAN'] %>" placeholder="Lê Văn A">
                    </div>
                    <div class="form-item">
                        <p class="title-item">Chi tiết đơn thuốc</p>
                            <% data.forEach(item => { %>
                                <div class="item-detail">
                                    <div class="detail">
                                        <p class="title-item-detail">Tên thuốc</p>
                                        <label for="<%='idDrug_' + item['IDCHITIETDONTHUOC'] %>"></label>
                                        <div class="box-detail">
                                            <input class="input-des" type="text" value="<%= item['TENTHUOC'] + ' - ' + item['IDTHUOC'] %>" id="<%='idDrug_' + item['IDCHITIETDONTHUOC'] %>" name="<%='idDrug_' + item['IDCHITIETDONTHUOC'] %>">
                                        </div>
                                    </div>
                                    <div class="detail">
                                        <p class="title-detail">Liều lượng</p>
                                        <label for="<%= 'numberUse_' + item['IDTHUOC'] %>"></label>
                                        <input class="number" type="text" id="<%= 'numberUse_' + item['IDTHUOC'] %>" name="<%= 'numberUse_' + item['IDTHUOC'] %>" value="<%= item['SOLUONG'] %>">
                                        <p class="unit">Đơn vị tính: <%= item['DONGIA'] %> đồng/<%= item['DONVITINH'] %></p>
                                    </div>
                                </div>
                            <% }) %>
                            <p class="cost">Tổng tiền: <span><%= money %></span> đồng</p>
                    </div>
                    <button class="btn-submit" type="submit">Xuất đơn thuốc</button>
                </form>
            </div>
        </div>
    </div>
    <a href="/phamarcy/bill-drug/page-<%= page %>" class="btn-link-back">Quay lại</a>

    <%- include('partials/layouts/footer.ejs')  %>
    
    <%- include('partials/layouts/scripts') %>
</body>

</html>