<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/layouts/head') %>

        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

        <%- include('partials/layouts/styles') %>
</head>

<body>
    <div class="admin-container">
        <div class="admin-content">
            <div class="admin-sidebar">
                <div class="admin-sidebar-header">
                    <p class="admin-title">Administrator</p>
                </div>
                <div class="admin-sidebar-body">
                    <div class="admin-menu-list">
                        <a href="" class="admin-menu-link">
                            <p><i class="fa fa-home" aria-hidden="true"></i> Trang chủ Admin</p>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                        <a href="" class="admin-menu-link">
                            <p><i class="fa fa-bars" aria-hidden="true"></i> Quản trị giao diện</p>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                        <a href="" class="admin-menu-link">
                            <p><i class="fa fa-money" aria-hidden="true"></i> Quản trị thông tin</p>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                        <a href="" class="admin-menu-link">
                            <p><i class="fa fa-paper-plane" aria-hidden="true"></i> Seo Website</p>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                        <a href="" class="admin-menu-link">
                            <p><i class="fa fa-user" aria-hidden="true"></i> Quản lý User</p>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="admin-log-out">
                        <a href="logout" class="link-log-out">Đăng xuất</a>
                    </div>
                </div>
            </div>
            <div class="admin-form">
                <div class="box-find">
                    <div class="form-find">
                        <input id="search-in-table" type="text" placeholder="Tìm kiếm">
                    </div>
                </div>
                <div class="table-box table-responsive-sm">
                    <table class="">
                        <thead>
                            <tr>
                                <th>Tên người dùng</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <% user.forEach(item => { %>
                                <tr>
                                    <td>
                                        <a href="user/<%= item['GRANTEE'] %>/info">
                                            <%= item['GRANTEE'] %>
                                        </a>
                                    </td>
                                </tr>
                            <% }) %> 
                            
                        </tbody>
                    </table>

                    <div class="detail-info">
                        <div class="detail-item">
                            <p class="detail-content">Tên tài khoản : <span><%= isCheck %></span> </p>
                        </div>
                        <div class="detail-item">
                            <p class="detail-content">Tên người dùng : <span><%= view['TENNHANVIEN'] %></span></p>
                        </div>
                        <div class="detail-item">
                            <p class="detail-content">Chức vụ : <span><%= view['VAITRO'] %></span></p>
                        </div>
                        <a href="user/<%= isCheck %>/detail/role" class="detail-link">Chỉnh sửa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/layouts/scripts') %>
</body>

</html>