<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/layouts/head') %>

        <%- include('partials/layouts/styles') %>
</head>

<body>
    <div class="admin-page">
        <div class="container">
            <div class="header-top">
                <div class="nav-top">
                    <div class="bar-top">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </div>
                    <div class="logo-top">
                        <p class="brand">Adminstrator</p>
                    </div>
                </div>
                <div class="menu-top">
                    <%- include('partials/layouts/admin-sidebar.ejs')  %> 
                </div>
            </div>
            <div class="admin-form">
                <div class="box-find">
                    <div class="form-find">
                        <input id="search-in-table" type="text" placeholder="Tìm kiếm">
                    </div>
                    <div class="box-btn">
                        <a href="#cate_6" style="color: #333;"><i class="fa fa-plus" aria-hidden="true"></i> Thêm User</a>
                    </div>
                </div>
                <div class="box-table">
                    <table class="">
                        <thead>
                            <tr>
                                <th>Tên nhân viên</th>
                                <th>Tên tài khoản</th>
                                <th>Vai trò</th>
                                <th>Cài đặt</th>
                            </tr>    
                        </thead>
                        <tbody>
                            
                            <% user.forEach(item => { %>
                                <tr>
                                    <th>
                                        <%= item['TENNHANVIEN'] %></th>
                                    <th>
                                        <%= item['USERNAME'] %>
                                    </th>
                                    <th>
                                        <%= item['VAITRO'] %>
                                    </th>
                                    <th>
                                        <a href="/admin/user/<%= item['USERNAME'] %>/detail/role">
                                            <i class="fas fa-user-cog"></i>
                                        </a>
                                    </th>
                                </tr>
                            <% }) %> 
                            
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="categories-6" id="cate_6">
                <div class="box-table">
                    <form action="/admin/user/add" method="post">
                        <table>
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Họ và tên</th>
                                    <th>Đơn vị làm việc</th>
                                    <th>Vai trò</th>
                                    <th>Thêm</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>
                                        <div class="item-form">
                                            <input type="text" placeholder="username" name="addUName" id="addUName">
                                            <label for="addUName"></label>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="item-form">
                                            <input type="text" placeholder="Lê Văn A" name="addName" id="addName">
                                            <label for="addName"></label>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="item-form">
                                            <select name="addDv" id="addDv">
                                                <% dv.forEach(item => { %>
                                                    <option value="<%= item['IDDONVI'] %>"><%= item['TENDONVI'] %></option>
                                                   <% }) %>
                                            </select>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="item-form">
                                            <select name="addVt" id="addVt">
                                                <% vt.forEach(item => { %>
                                                 <option value="<%= item['name'] %>"><%= item['name'] %></option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </th>
                                    <th>
                                        <button type="submit"><i class="fa fa-plus" aria-hidden="true"></i> Thêm</button>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/layouts/scripts') %>
</body>

</html>